/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add! */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: auto;
  width: 90%;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 5px;
  display: block;
  width: 100%;
}

h1 {
  color: #FBF5AB;
  width: 1000px;
  margin: auto;
  background-image: url("cityscape.jpg");
  background-repeat: no-repeat;
  font-size: 80pt;
  font-style: italic;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  //padding-left: 20px;
}

nav {
  line-height:;
  background-color:;
  width:125px;
  display: inline-block;
  vertical-align: top;
}

nav ul {
  list-style-type: none;
}

a {
  font-weight: bold;
  line-height: 1.8;
  color: #3B7FBD;
  text-decoration: none;
  font-size: 12pt;
}

section img {
  display: block;
  margin: auto;
  width: 50%;
  max-width: 350px;
}

section {
  width: calc(100% - 360px);
  display: inline-block;
  padding: 30px;
  background-color: #f1f1f1;
}

article {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid lightgray;
}

aside {
  width: 125px;
  display: inline-block;
  vertical-align: top;
  background-color:;
  font-size: ;
}

aside ul {
  list-style-type: none;
}

footer {
  width: 790px;
  background-color:;
  text-align:;
  padding:5px;
  display: block;
}
