/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add! */

html {
  height: 100%;
  font-family: garamond;
  font-size: 125%;
}

body {
  height: 100%;
}

header {
  padding: 5px;
  display: block;
  width: 790px;
  background-color: violet
}


.sidebar{
  width: 200px
}
nav {
  line-height:;
  background-color:;
  width:200px;
  display: inline-block;
  vertical-align: top;
  min-height: 600px
}

nav ul {
  list-style-type: none;
}

a {
    color: ;
}

section {
  width: 516px;
  display: inline-block;
}


aside {
  width: 30px;
  display: inline-block;
  vertical-align: top;
  background-color:gold;
  font-size: ;



}

aside ul {
  list-style-type: none;
}

footer {
  width: 790px;
  background-color:;
  text-align:;
  padding:5px;
  display: block;
}

img {
  max-width: 100%;
}
